.input-search {
  width: 60% !important; 
  color: red;
}
.container-search {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 0px;
}
.search-button {
  height: 30px !important;
  margin-left: 10px !important;
  border-color: #A2A2A2 !important;
  color: #A2A2A2 !important;
  margin-bottom: -15px !important;
}
.recent-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 93%;
  height: 15vh;
  border-color: #A2A2A2;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
}
.icon-view-operation{
  display: flex;
  flex-direction: row;
  width: 10%;
  height: 10vh;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 0px !important;
  top: 0px !important;
}
.name-file-operation {
  font-size: 12px;
  width: 150px;
  text-align: center;
  overflow-wrap: break-word;
}

.icon-item-recent {
  color: #A2A2A2;
  font-size: 50px !important;
}
.icon-item-recent-video {
  color: #FF0000;
}
.icon-item-recent-documents{
  color: #2B67F3;
}
.icon-item-recent-image {
  color: #27A723;
}
.icon-item-recent-folder{
  color: #F8D775 
}
.icon-recent-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
}
.icon-recent-description p {
  margin: 0;
  overflow-wrap: break-word !important;
}

.operations-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.menu-section {
  margin-left: 95px;
  margin-top:30px;
}
.files-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 65px;
  margin-top:30px;
  border-color: #A2A2A2;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  height: 100%;
}
.menu-items-container {
  display: flex;
  flex-direction: column;
}
.menu-item {
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  color: #A2A2A2;
  height: 30px;
  margin-right: 10px;
}
.menu-item:hover{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  background-color: #2B67F3;
  border-radius: 10px;
  height: 30px;
  color: #FFF ;
  margin-right: 10px;
  cursor: pointer;
}
.name-menu-item {
  margin-left: 5px;
  padding-right: 15px;
}
.icon-item-menu {
  padding-left: 15px;
}
.icon-item-menu:hover {
  color: #FFF;
}
