.input-search {
  width: 60% !important; 
  color: red;
}
.container-search {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 0px;
}
.search-button {
  height: 30px !important;
  margin-left: 10px !important;
  border-color: #A2A2A2 !important;
  color: #A2A2A2 !important;
  margin-bottom: -15px !important;
}
.recent-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 93%;
  height: 15vh;
  /*border-color: #A2A2A2;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;*/
}
.icon-view-operation{
  width: 7%;
  height: 20vh;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 60px;
}
.name-file-operation {
  font-size: 12px;
  width: 125px;
  text-align: center;
  overflow-wrap: break-word;
}
.image-operation-view{
  height: 50px;
}

.icon-item-recent {
  color: #A2A2A2;
  font-size: 50px !important;
}
.icon-item-recent-video {
  color: #FF0000;
}
.icon-item-recent-pdf{
  color: #A40000;
}
.icon-item-recent-txt{
  color: #757575;
}
.icon-item-recent-documents{
  color: #2B67F3;
}
.icon-item-recent-image {
  color: #27A723;
}
.icon-item-recent-folder{
  color: #F8D775 
}
.icon-recent-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  height: 10%;
  margin: 0px;
}

.operations-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height:100%;
}

.menu-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top:30px;
  height: 45px;
  border-top-color: #A2A2A2;
  border-top-style: solid;
  border-top-width: 1px;
  background-color: rgba(230, 230, 230, 0.5)
}
.files-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  margin-right: 65px;
  border-top-color: #A2A2A2;
  border-top-style: solid;
  border-top-width: 1px;
  overflow-y: auto;
  width: 100%;
  height: 95%; 

}
.menu-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.menu-item {
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  color: #A2A2A2;
  height: 100%;
  margin-right: 10px;
}
.menu-item:hover{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  background-color: #2B67F3;
  height: 100%;
  color: #FFF ;
  margin-right: 10px;
  cursor: pointer;
}
.name-menu-item {
  margin-left: 5px;
  padding-right: 15px;
  color: #000;
}
.icon-item-menu {
  padding-left: 15px;
}
.icon-item-menu-explorer {
  color: #F8D775 
}
.icon-item-menu-image {
  color: #27A723;
}
.icon-item-menu-video {
  color: #FF0000;
}
.icon-item-menu-doc {
  color: #2B67F3;
}
.icon-item-menu-back{
  color: #000
}
.icon-item-menu:hover {
  color: #FFF;
}

/* recents component styles */
.container-items-recents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 8vh;
}
.container-items-recents p {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 10px;
  text-align:center;
}
.icon-download-recents {
  color: #1D68DA;
  cursor: pointer;
}
/* recents component styles */
